 *{
    margin: 0%;
    padding: 0%;
 }
body{
    
    font-family: 'Barlow', sans-serif;

}
.section-one{

    
     background-image: url(images/donation13.jpg);
    height:100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    margin-bottom: 110px;
     

}
.heading{
    font-size: 50px;
    font-weight: bold;
}
.help-hand{
    text-align: center;
    margin-bottom: 30px; 
    margin-top: 20px;
    font-size: 30px;
   
}
.Button{
    font-size: 30px;
   background-image: linear-gradient( orange , red);
   text-decoration: none;
   color: azure;
  
   padding: 10px 5px;
  
}

.top-banner{

    text-align: center;
    padding-top: 550px;
    color: white;
    
    
}

/* close section-one */


.middel-banner{
    text-align: center;
    padding-top: 550px;
    margin: 20px ;
}
.donate{
    text-align: center;
}
.amout{
    width: 125px;
    height: 135px;
    background-color: gainsboro;
    text-align: center;
    padding-top: 80px;
    margin: 30px;
    margin-left: 50px;
    
}
.donet-amout{
    text-align: center; 
    display: flex;
    
}
.middle-2{
    margin-left: 700px;
}
.doller{
    color: gray;
}
.dolller-2{
    color: red;
   
}
.amout-2{
    border: 2px solid orangered;
    border-radius: 2px;
}
.hovering:hover{
     color: chocolate;
     margin: -20px;
     transition: 8ms;
     cursor: pointer;
}
.section-two{
    text-align: center;
}




